extends layout


block content
  form#form(action="/zoo-request", method="POST")
    block hiddentoken
    div.section.cutinhalf#section-required
      div.half
        h3 Votre fichier XCore
        input#file_input(type="file", name="file", required).filepond
      div#form_fields.half
        h3 Champs obligatoires

        label.field
          input(type="text", name="artifactID", required, pattern="[A-Za-z0-9.-]+").field_field
          div.field_description ID de l'artefact

        block requiredfields

    block otherfields

    block submit

  script(type="text/javascript", src="/libs/filepond/filepond.min.js")
  script.
    const inputElement = document.getElementById('file_input');
    const pond = FilePond.create( inputElement , {
      server: '/file',
    });
    pond.labelIdle += " XCore files",
    pond.onaddfilestart = function(file){
      if (file.fileExtension.trim() == "xcore"){return}
      pond.removeFile() ;
    }
  script(type="text/javascript", src="/scripts/submit.js")

  block scripts 
