extends layout


block content

  section.section
    p Nursery est un service gentillement proposé par et pour le #[a(href="https://www.ls2n.fr/", title="Laboratoire des Sciences du Numérique de Nantes", target="_blank") LS2N] dans le but de repeupler le #[a(href="http://web.imt-atlantique.fr/x-info/atlanmod/index.php?title=Zoos", title="Atlanmod Zoos", target="_blank") zoo].


  section.section
    h2 Transformez vos fichiers #[em XCore] en #[em artefact Maven].
    p Faites la conversion facilement avec notre outil ou lisez le manuel pour le faire pas à pas. 
    div.cutinhalf
      div.half
        a.submit_button(href="/form-maven" title="Aller au formulaire")
          span Automatique
      div.half
        a.submit_button(href="/manual" title="Manuel")
          span Manuel

  
  section.section
    h2 Faites votre #[em pull request] vers le #[a(href="https://github.com/atlanmod/zoo", target="_blank") zoo] sans prise de tête.

    a.submit_button(href="/github-oauth" title="Aller au formulaire après authentifiaction")
      span M'identifier sur GitHub et faire ma pull request
