extends layout

block content
  #title
    h1 Moulinette
    p Transform your Xcore in Maven artefact

  .block
    #form
      form
        label.field
          // div.field_name nom
          input(type="text", name="artefact_name").field_field
          div.field_description nom de l'artefact à générer

        input(type="submit", name="submit")#submit_button

