extends layout


block content
  #title
    h1 Moulinette
    p Transform your Xcore in Maven artefact

  .block
    form#form(action="/", method="post")
      div.form_half
        input#file_input(type="file", name="file", required).filepond
      div#form_fields.form_half
        label.field
          // div.field_name nom
          input(type="text", name="artifactName").field_field
          div.field_description * Nom de l'artefact à générer

        label.field
          input(type="text", name="artifactID").field_field
          div.field_description * ID de l'artefact

        label.field
          input(type="text", name="groupID", required).field_field
          div.field_description * Groupe de l'artefact (Ex : com.company.project)

        label.field
          input(type="text", name="version").field_field.mvn_required
          div.field_description * Version de l'artefact (Ex : 1.0.0)

        label.field
          // div.field_name description
          input(type="text", name="artefact_description").field_field
          div.field_description Description de l'artefact

        label.field
          input(type="checkbox", name="mavencentral").field_field
          div.field_description Déployer sur Maven central 

        * Champs obligatoires

        input(type="submit", name="submit")#submit_button

  script(type="text/javascript", src="/libs/filepond/filepond.min.js")
  script.
    const inputElement = document.getElementById('file_input');
    const pond = FilePond.create( inputElement );
    FilePond.setOptions({
        server: '/file'
    });