doctype html
html
  head
    title Nursery
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/blocks.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen|Quicksand')
    
    link(rel='stylesheet', href='/libs/filepond/filepond.min.css')
  body

    #title
      a(href="/manual", title="Nursery")
        h1 Nursery
        p Transform your Xcore in Maven artefact

    .block
      block content
