doctype html
html
  head
    title Moulinette
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/blocks.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen|Quicksand')
    
    link(rel='stylesheet', href='/libs/filepond/filepond.min.css')
  body
    block content
