:root {
  --light-gray: #EEE;
  --dark-gray: #6C6C6C;
  --highlight: #6497CC;
  --error: #EF4C66;
}

html{
	min-height: 100%;
	background-color: var(--light-gray);
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font: 14px "Oxygen", Helvetica, Arial, sans-serif;
}

h1, h2, h3, em {
	font-family: "Quicksand", sans-serif;
}

em, a {
	color: #000;
	font-size: inherit;
	font-weight: bold;
}

em {
	color: var(--highlight);
	font-style: normal;
}

ul {
	list-style-type: circle;
}

pre {
	background-color: #EDEDED;
	padding: 1em;
	font-family: courier;
	overflow: scroll;
}
