#title{
    box-sizing: border-box;
    max-width:1080px;

    margin: 0 auto 2em;
}

#title h1 {
    font-size: 300%;
    width: 4em;
}

#title a {
    color: #000;
    font-size: initial;
    text-decoration: none;
    font-weight: normal;
}

#title #i18n{
    list-style: none;
    padding-left: 0;
}

#title #i18n li{
    display: inline;
    padding: 0 2px;
    margin: 0 2px;
}

.block{
    box-sizing: border-box;
    max-width:1080px;

    padding: 2em 5em;
    margin: 10px auto;

    background-color: #FFF;

    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

.cutinhalf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.half{
    width: 49%;
}

.section:nth-child(-n+2){
    border-bottom: 1px solid var(--light-gray);
}
