#form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.form_half{
	width: 49%;
}

#form_fields{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.field{
	display: block;
	margin-bottom: 1em;
}

.field_name{

}


.field_description{
	font-size: 80%;
	color: var(--dark-gray);
}

.field_field{

}

#submit_button{
	padding: 6px 12px;
	background-color: var(--highlight);
	color: #FFF;
	cursor: pointer;

	align-self: flex-end;

	box-shadow: 0 0 0 rgba(1,1,1,1);
	transition: box-shadow ease 0.2s;
}

#submit_button:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

#file_input{
	height: 82px!important;
	border: 3px dashed var(--highlight);
	border-radius: 5px;
}

input, textarea{
	border: 0;
	padding: 3px 0;
}

input[type="text"]{
	border-bottom: 1px solid var(--dark-gray);
	transition: border ease 0.2s;
}

input[type="text"]:invalid{
    border-bottom-color: var(--error);
}

input[type="text"]:valid{
    border-bottom-color: var(--highlight);
}
